:root {
  --border-radius: 1rem;
}

.profile-container {
  height: 100%;
  width: 100%;
  background-color: var(--light-100);
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
}
.profile-container .body {
  flex-grow: 1;
  padding: 1.5rem 2rem !important;
  display: inline-block;
}
/*  */
.photo-name-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}
.profile-picture {
  height: 120px !important;
  width: 120px !important;
  object-fit: fill;
  border-radius: 50% !important;
}
.user-fullname {
  font-size: 1.25rem;
}

.pill-skills {
  padding: 0.5rem 0.8rem;
  border-radius: 1.5rem;
  border: 1px var(--dark-70) solid;
  height: 40px;
  width: fit-content;
  display: flex;
  align-items: center;
  text-wrap: nowrap;
}
.pill-images {
  height: 100px;
  width: 130px;
  object-fit: cover;
  text-align: start;
  cursor: pointer;
}
.pill-details {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  margin-bottom: 1rem;
  border: 1px solid var(--dark-50);
  border-radius: 0.7rem;
}

.pill-label {
  font-weight: 600;
  color: var(--dark-70);
  padding: 0.5rem;
  padding-bottom: 1.2rem;
  /* No height! Let it be auto */
}

.pill-body {
  flex: 1 1 auto; /* Grow to fill the rest */
  overflow: auto;
  display: flex; /* Or block, depending on your content */
  gap: 0.5rem;
  height: 300px;
}

.pill-images {
  height: 200px;
  width: 200px;
  object-fit: cover;
  cursor: pointer;
  padding: 0.5rem;
  flex: 1 1 auto; /* Grow to fill the rest */
  border-radius: 1rem;
}
.cards:hover {
  transform: scale(1.015);
  transition: transform 0.3s ease;
}
